* {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-style: normal;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 14px;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 299px;
  width: 100%;
  margin: 100px auto;
  /* padding: 0 15px; */
  text-align: center;
  border: 5px solid grey;
  border-style: outset;
  cursor: pointer;
  background-color: silver;
}

.field {
  display: grid;
  grid-template-columns: repeat(16, 28px);
}

.header {
  background-color: silver;
}

.button {
  /* background-size: 11vw; */
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  border: 5px solid grey;
  border-style: outset;
  cursor: pointer;
}

#face {
  cursor: pointer;
  width: 34px;
  height: 32px;
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
}

.icon {
  background-position: 2px -23px;
}

.face-smile {
  background-position: -25px -23px;
}

.flag {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: -34px -51px;
}

.disabled {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: -21px -66px;
}

.one {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 139px -68px;
}

.two {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 121px -68px;
}

.three {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 105px -68px;
}

.four {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 87px -68px;
}

.five {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 70px -68px;
}

.six {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 54px -68px;
}

.seven {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 36px -69px;
}

.all {
  width: 128px;
  height: 128px;
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: 2px -23px;
}

.bomb {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: -86px -136px;
}

.explosion {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: -104px -135px;
}

.time-game {
  display: flex;
  padding-right: 10px;
}

.z100 .time-game div {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  width: 17px;
  height: 23px;
}

.time {
  background-position: 14px 0;
}

.z100 .time0 {
  background-position: 14px 0;
}

.z100 .time1 {
  background-position: 1px 0;
}

.z100 .time2 {
  background-position: -13px 0;
}

.z100 .time3 {
  background-position: -26px 0;
}

.z100 .time4 {
  background-position: -40px 0;
}

.z100 .time5 {
  background-position: -54px 0;
}

.z100 .time6 {
  background-position: -69px 0;
}

.z100 .time7 {
  background-position: -84px 0;
}

.z100 .time8 {
  background-position: -96px 0;
}

.z100 .time9 {
  background-position: -109px 0;
}

.z100 .time10 {
  background-position: -125px 0;
}

.z100 .time- {
  background-position: -130px 0;
  width: 13px;
  height: 23px
}

.face-sad {
  background-position: -106px -23px;
}

.face-surprise {
  background-position: -52px -23px;
}

.win-face {
  background-position: -78px -23px;
}

.question {
  background-image: url(./assets/minesweeper-sprites_9TPZzv3.png);
  background-position: -51px -51px;
}